In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [2]:
df=pd.read_csv(r"C:\Users\Chakri\Desktop\twitter-sentiment-analysis2\train.csv", encoding='latin-1')

In [3]:
df.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [4]:
x=df.iloc[0:,-1]

In [5]:
x.head(10)

0                         is so sad for my APL frie...
1                       I missed the New Moon trail...
2                              omg its already 7:30 :O
3              .. Omgaga. Im sooo  im gunna CRy. I'...
4             i think mi bf is cheating on me!!!   ...
5                    or i just worry too much?
6                   Juuuuuuuuuuuuuuuuussssst Chillin!!
7           Sunny Again        Work Tomorrow  :-|  ...
8          handed in my uniform today . i miss you ...
9             hmmmm.... i wonder how she my number @-)
Name: SentimentText, dtype: object

In [6]:
y=df.iloc[0:,1]

In [7]:
y.head()

0    0
1    0
2    1
3    0
4    0
Name: Sentiment, dtype: int64

In [9]:
df2=pd.read_csv(r"C:\Users\Chakri\Desktop\twitter-sentiment-analysis2\train.csv", encoding='latin-1')

In [10]:
df2.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [11]:
max_words=1000

In [12]:
tokenize = Tokenizer(num_words=max_words)
tokenize.fit_on_texts(x) # only fit on train

In [13]:
x_train = tokenize.texts_to_matrix(x)

In [14]:
type(x_train)

numpy.ndarray

In [15]:
from keras import utils
y_train_new = utils.to_categorical(y)

In [16]:
y_train_new

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [17]:
from keras.models import Sequential 
from keras.layers import Dense

In [18]:
model=Sequential()

In [19]:
model.add(Dense(output_dim=100, input_dim=1000))
model.add(Dense(output_dim=15,activation='relu'))
model.add(Dense(output_dim=2))
model.compile(optimizer="adam",loss='mean_squared_error',metrics=['mae','accuracy'])

C:\Users\Chakri\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=1000, units=100)`
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\Users\Chakri\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\Chakri\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=15)`

C:\Users\Chakri\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=2)`
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
history = model.fit(x_train, y_train_new,batch_size=32,epochs=2,verbose=1,validation_split=0.1)

WARNING:tensorflow:From C:\Users\Chakri\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 89990 samples, validate on 9999 samples
Epoch 1/2
89990/89990 [==============================] - 14s 153us/step - loss: 0.1789 - mean_absolute_error: 0.3579 - acc: 0.7372 - val_loss: 0.1667 - val_mean_absolute_error: 0.3401 - val_acc: 0.7547
Epoch 2/2
89990/89990 [==============================] - 13s 148us/step - loss: 0.1643 - mean_absolute_error: 0.3324 - acc: 0.7582 - val_loss: 0.1633 - val_mean_absolute_error: 0.3215 - val_acc: 0.7676

In [21]:
score = model.evaluate(x_train, y_train_new)
print('Test accuracy:', score[2])

99989/99989 [==============================] - 5s 49us/step
Test accuracy: 0.7745952054761787

In [22]:
new=tokenize.texts_to_matrix(['he not helped me'])

In [23]:
n=model.predict(new)[0]
n=list(n)
n.index(max(n))

0

In [24]:
model.save("jet.h5")